/* Style pour le texte de construction */
body {
    font-family: Arial, sans-serif; /* Police de base */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la page */
    background-color: #f4f4f4; /* Couleur d'arrière-plan */
}

h1 {
    font-size: 50px; /* Taille très grande */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    text-align: center;
}


/* En-tête */
header {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
